.navbar-custom {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-radius: 1rem 1rem 0 0;
    background-color: #ffffff00;
    z-index: 10;
    padding: 0.5rem 1rem;
  }
  
  .custom-nav-btn {
    background-color: #2e7d32; /* verde escuro */
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 5px 24px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  .custom-nav-btn:hover {
    background-color: #1b5e20;
    color: rgb(221, 221, 221);
    transform: translateY(-2px);
  }
  
  .nav-buttons {
    padding-top: 0.5rem;
  }
  


  .card-custom {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card-custom:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.icon-large {
    font-size: 3rem;
    color: #198754; /* Bootstrap success color */
    margin: 1.5rem auto 0 auto;
    display: block;
}

.card-title {
    margin-top: 1rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.95rem;
}